"""
    Opal API

    Your Home For Developer Resources.  # noqa: E501

    The version of the OpenAPI document: 1.0
    Contact: hello@opal.dev
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from opal.api_client import ApiClient, Endpoint as _Endpoint
from opal.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from opal.model.paginated_resource_user_list import PaginatedResourceUserList
from opal.model.resource_user_access_status import ResourceUserAccessStatus


class ResourcesApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.resource_user_access_status_retrieve_endpoint = _Endpoint(
            settings={
                'response_type': (ResourceUserAccessStatus,),
                'auth': [
                    'BearerAuth'
                ],
                'endpoint_path': '/resource-user-access-status/{resource_id}/{user_id}',
                'operation_id': 'resource_user_access_status_retrieve',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'resource_id',
                    'user_id',
                    'access_level_remote_id',
                    'cursor',
                    'page_size',
                ],
                'required': [
                    'resource_id',
                    'user_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'resource_id':
                        (str,),
                    'user_id':
                        (str,),
                    'access_level_remote_id':
                        (str,),
                    'cursor':
                        (str,),
                    'page_size':
                        (int,),
                },
                'attribute_map': {
                    'resource_id': 'resource_id',
                    'user_id': 'user_id',
                    'access_level_remote_id': 'access_level_remote_id',
                    'cursor': 'cursor',
                    'page_size': 'page_size',
                },
                'location_map': {
                    'resource_id': 'path',
                    'user_id': 'path',
                    'access_level_remote_id': 'query',
                    'cursor': 'query',
                    'page_size': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.resource_users_endpoint = _Endpoint(
            settings={
                'response_type': (PaginatedResourceUserList,),
                'auth': [
                    'BearerAuth'
                ],
                'endpoint_path': '/resource-users',
                'operation_id': 'resource_users',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'resource_id',
                    'access_level_remote_id',
                    'cursor',
                    'page_size',
                ],
                'required': [
                    'resource_id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'resource_id':
                        (str,),
                    'access_level_remote_id':
                        (str,),
                    'cursor':
                        (str,),
                    'page_size':
                        (int,),
                },
                'attribute_map': {
                    'resource_id': 'resource_id',
                    'access_level_remote_id': 'access_level_remote_id',
                    'cursor': 'cursor',
                    'page_size': 'page_size',
                },
                'location_map': {
                    'resource_id': 'query',
                    'access_level_remote_id': 'query',
                    'cursor': 'query',
                    'page_size': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client
        )

    def resource_user_access_status_retrieve(
        self,
        resource_id,
        user_id,
        **kwargs
    ):
        """resource_user_access_status_retrieve  # noqa: E501

        Get user's access status to a resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.resource_user_access_status_retrieve(resource_id, user_id, async_req=True)
        >>> result = thread.get()

        Args:
            resource_id (str): The ID of the resource.
            user_id (str): The ID of the user.

        Keyword Args:
            access_level_remote_id (str): The remote ID of the access level that you wish to query for the resource. If omitted, the default access level remote ID value (empty string) is used.. [optional]
            cursor (str): The pagination cursor value.. [optional]
            page_size (int): Number of results to return per page.. [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            async_req (bool): execute request asynchronously

        Returns:
            ResourceUserAccessStatus
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['resource_id'] = \
            resource_id
        kwargs['user_id'] = \
            user_id
        return self.resource_user_access_status_retrieve_endpoint.call_with_http_info(**kwargs)

    def resource_users(
        self,
        resource_id,
        **kwargs
    ):
        """resource_users  # noqa: E501

        Returns a list of `ResourceUser` objects.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.resource_users(resource_id, async_req=True)
        >>> result = thread.get()

        Args:
            resource_id (str): The ID of the resource.

        Keyword Args:
            access_level_remote_id (str): The remote ID of the access level that you wish to query for the resource. If omitted, the default access level remote ID value (empty string) is used.. [optional]
            cursor (str): The pagination cursor value.. [optional]
            page_size (int): Number of results to return per page.. [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            async_req (bool): execute request asynchronously

        Returns:
            PaginatedResourceUserList
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['resource_id'] = \
            resource_id
        return self.resource_users_endpoint.call_with_http_info(**kwargs)

